
<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>Encaminhamentos</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="col-md-12">
    <div class="row">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend col-2">
          <span class="input-group-text" style="width: 100%;" >Especialidades</span>
        </div>
        <span class="input-group-prepend col-md-10">
          <select class="form-control" >
            
          </select>
          <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-sm" >Encaminhar</button>
          </span>
        </span>
      </div>
    </div>
  </div>
</mat-expansion-panel>

